{% extends 'base.html' %}

{% block title %}О компании - GearLock{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-12">
        <h1>О компании GearLock</h1>
        <p class="lead">Надежные автоаксессуары для вашего комфорта и безопасности</p>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9302.186116759693!2d48.38104433737596!3d54.34732274952923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415d3a02350e60f1%3A0x71f41ea55fac4e37!2z0KPQu9GM0Y_QvdC-0LLRgdC60LjQuSDQs9C-0YHRg9C00LDRgNGB0YLQstC10L3QvdGL0Lkg0YLQtdGF0L3QuNGH0LXRgdC60LjQuSDRg9C90LjQstC10YDRgdC40YLQtdGCICjQo9C70JPQotCjKQ!5e0!3m2!1sru!2sru!4v1765736760924!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
        <h3>Наша история</h3>
        <p>Компания GearLock была основана в 2010 году с целью предоставить автомобилистам качественные и надежные аксессуары по доступным ценам.</p>
        
        <h3 class="mt-4">Наша миссия</h3>
        <p>Мы стремимся сделать ваши поездки комфортными и безопасными, предлагая только проверенные временем товары от ведущих производителей.</p>
        
        <h3 class="mt-4">Наши ценности</h3>
        <ul>
            <li>Качество продукции</li>
            <li>Доступные цены</li>
            <li>Профессиональная поддержка</li>
            <li>Быстрая доставка</li>
        </ul>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <i class="fas fa-award fa-3x text-primary mb-3"></i>
                <h5>Качество</h5>
                <p>Сертифицированная продукция</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <i class="fas fa-shipping-fast fa-3x text-success mb-3"></i>
                <h5>Доставка</h5>
                <p>Быстрая доставка по всей России</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <i class="fas fa-headset fa-3x text-info mb-3"></i>
                <h5>Поддержка</h5>
                <p>Круглосуточная поддержка клиентов</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <i class="fas fa-shield-alt fa-3x text-warning mb-3"></i>
                <h5>Гарантия</h5>
                <p>Гарантия на все товары 1 год</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}