{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Личный кабинет - GearLock{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-info text-white">
                <h5 class="mb-0">Навигация</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'users:dashboard' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-tachometer-alt me-2"></i>Обзор
                </a>
                <a href="{% url 'users:profile' %}" class="list-group-item list-group-item-action active">
                    <i class="fas fa-user-cog me-2"></i>Редактировать профиль
                </a>
                <a href="{% url 'orders:order_list' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-history me-2"></i>Мои заказы
                </a>

                <a href="{% url 'users:logout' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-sign-out-alt me-2"></i>Выйти
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Редактирование профиля</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.birth_date|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.address|as_crispy_field }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.postal_code|as_crispy_field }}
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Сохранить изменения
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}