{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация - GearLock{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Регистрация нового пользователя</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.phone|as_crispy_field }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="terms" required>
                        <label class="form-check-label" for="terms">
                            Я согласен с <a href="#" class="text-decoration-none">правилами сайта</a> и 
                            <a href="#" class="text-decoration-none">политикой конфиденциальности</a>
                        </label>
                    </div>
                    
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-user-plus"></i> Зарегистрироваться
                        </button>
                    </div>
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'users:login' %}" class="text-decoration-none">
                            Уже есть аккаунт? Войти
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}